@model WebsiteForAltanEmuce.Models.EntityFramework.Admin
@{
    ViewBag.Title = "GetAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    @Html.Label("Adminid")
    @Html.TextBoxFor(x => x.Adminid, new { @class = "form-control form-control-user" })
    <br />
    @Html.Label("Adminname", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.Adminname)
    <br />
    @Html.Label("Adminpassword", new { @class = "form-control" })
    @Html.TextBoxFor(x => x.Adminpassword)
    <br />
    <button class="btn btn-primary btn-user btn-block"> Güncelle</button>

</form>

